@charset "UTF-8";

body {
	background-image: url(https://i.ibb.co/GvdVbMR/black.png);
	background-size: cover;
	
	
}

#user {
	font-size: 1.2rem;
	color: blue;
	display: flex;
	align-items: center;
}

#tu {
	font-size: 1.2rem;
	display: flex;
	align-items: center;
}
/* afecta boton de Log out */
#btnlo {
	height: 2.2rem;
	margin-bottom: 10px;
}

#disclaimer {
	font-size: 0.292rem !important;
}

#headerContacto {
	font-size: 2rem;
	font-weight: bold;
}

#enviar {
	font-weight: 700;
}
/* Seccion Inicio*/

#titulo1 {
    text-align: center;
    font-family: 'Anton', sans-serif;
    
}

.subtitulo1{
    text-align: center;
    font-family: 'Anton', sans-serif;
}

.subtitulo2{
    text-align: center;
    font-family: 'Anton', sans-serif;
}



.extract{
    font-family: 'Comfortaa', cursive;
}


body {
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
    padding: 0 auto;
    width: 100%;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 

}

body{
    
    background-size: 100%;
    background-repeat: repeat-y;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

.d-block {
    display: block;
     margin-left: auto;
     margin-right: auto;
     width: 60%;

}

.card {
    background-color: HoneyDew
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  color: #000000;
  background-color: #000000;
  border-radius: 25px !important;
}
/* --------------------------------*/
/* Seccion de listar capacitaciones*/
table {
	border-collapse: collapse;
	width: 100%;
}

th, td {
	text-align: left;
	padding: 8px;
	border: 1px solid #ddd;
}

th {
	background-color: #f2f2f2;
}

tr:nth-child(even) {
	background-color: #f2f2f2;
}

tr:hover {
	background-color: #ddd;
}
/* --------------------------------- */
/*  Contacto */
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    --bs-gutter-x: 3.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-right: auto;
    margin-left: auto;
}
/* --------------------------------- */
/*  Crear Capacitacion */
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button
	{
	-webkit-appearance: none;
	margin: 0;
}

input[type=number] {
	-moz-appearance: textfield;
}

.col{
	background-image: url(https://i.ibb.co/4f27XXk/bdly.png);
}

