<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="4.0">
  <servlet>
    <description></description>
    <display-name>Inicio</display-name>
    <servlet-name>Inicio</servlet-name>
    <servlet-class>Inicio</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Inicio</servlet-name>
    <url-pattern>/Inicio</url-pattern>
  </servlet-mapping>
  <display-name>ABPRO1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Inicios</display-name>
    <servlet-name>Inicios</servlet-name>
    <jsp-file>/Inicio.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Inicios</servlet-name>
    <url-pattern>/Inicios</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InicioSer</display-name>
    <servlet-name>InicioSer</servlet-name>
    <servlet-class>Inicio</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InicioSer</servlet-name>
    <url-pattern>/InicioSer</url-pattern>
  </servlet-mapping>
</web-app>